<nav>
    <ul>
        <li>
            <a href="{{path('homepage') }}">Accueil</a>
        </li>
        <li>
            <a href="{{path('series_list') }}">Séries</a>
        </li>
        <li>
            <a href="{{path('series_new') }}">Ajout</a>
        </li>
        <li>
            {% if app.user %}
                <a href="{{path('app_logout') }}">Deconnexion</a>
            {% else %}
                <a href="{{path('app_login') }}">Connexion</a>
            {% endif %}


        </li>

    </ul>
</nav>